.main {
  min-height: 93vh;
  display: flex;
  align-items: center;
  background-image: url("../../back.jpg");
  background-position: center;
  background-size: cover;
}

.intro_text{
  width:100%;
  text-align: center;
}